body
{
    background-color: paleturquoise;
}

.top_bar
{
    background-color: aqua;
}

.log_in_field
{
    background-color: blueviolet;
}

.sign_up_field
{
    background-color: chartreuse;
}

.bottom_bar
{
    background-color: cyan;
}

.sign_up_con
{
    background-color: darkgreen;
}

.cf:before,
.cf:after
{
    content: " ";
    display:table;
}

.cf:after
{
    clear:both;
}

.gal_con
{
    background-color: brown;
    max-width: 80%;
    padding: 240px;
    margin: 0 auto;
}

.gallery
{
    background-color: blue;
    width: 100%;
}

.gal_item
{
    background-color: darkorange;
    float: left;
    width: 40%;
    margin: 1%;
    padding: 2%;
    padding-bottom: 5%;
    box-shadow: 1px 1px 3px rgba(0,0,0,.2); /* these values are x, y, z. */
}

.pre_img
{
    width: 40px;
}

#remember
{
    background-color: brown;
    
}

.header
{
    background-color: aqua;
    width: 80%;
    height: 80px;
    margin: 0% 10% 0% 10%;
    box-shadow: 2px 5px 10px royalblue;
    border-radius: 12px;
}

.footer
{
    background-color: aqua;
    width: 80%;
    height: 80px;
    margin: 0% 10% 0% 10%;
    box-shadow: 2px 5px aquamarine;
    border-radius: 12px;
}

.reg_field
{
    background-color: aquamarine;
    margin-left: 20%;
    width: 50%;
    height: 400px;
}

.upd_field
{
    background-color: aquamarine;
    margin-left: 20%;
    width: 50%;
    height: 100px;
}

.cng_field
{
    background-color: aquamarine;
    margin-left: 20%;
    width: 50%;
    height: 100px;
}

.root_field
{
    background-color: aquamarine;
    margin-left: 20%;
    width: 50%;
    height: 100px;
}

#flame_emoji
{
    height: 80px;
    width: 80px;
}

#bandaid_emoji
{
    height: 80px;
    width: 80px;
}

#cool_emoji
{
    height: 80px;
    width: 80px;
}

#instagram_emoji
{
    height: 80px;
    width: 80px;
}